{
	http_port 9001
}
{$CADDY_ADDRESS}:9001

reverse_proxy /login {$API_ADDRESS}
reverse_proxy /logout {$API_ADDRESS}
reverse_proxy /api/* {$API_ADDRESS}
reverse_proxy /oauth/* {$API_ADDRESS}
reverse_proxy /* {$UI_ADDRESS}
